// Generate palette https://www.tints.dev/
// Color names http://chir.ag/projects/name-that-color/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

body {
  font-family: 'Work Sans', sans-serif;
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 pt-[20px] lg:pt-[120px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }


  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-7xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl bubblegum-pink pt-4 pb-12 px-8;
  }

  .box-btn {
    @apply py-3 px-6 rounded-lg text-pink-pastel-dark text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .input {
    @apply bg-white border border-gray-200 text-black text-sm rounded-lg block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-black bg-white rounded-lg border border-gray-200 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r  from-pink-pastel to-blue-nepal focus:ring-4 focus:outline-none focus:ring-pink-pastel-dark font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }
}

.pink-gradient_text {
  @apply bg-gradient-to-r from-pink-pastel to-blue-nepal bg-clip-text text-transparent;
}

.bubblegum-pink {
  @apply bg-gradient-to-r from-pink-pastel to-blue-nepal;
  // background:#3c0c39;
  position: relative;
  border-radius: 10px;
  border: theme('colors.pink-pastel.DEFAULT');
  box-shadow: 0.6vmin 0.6vmin theme('colors.pink-pastel.dark'), 1vmin 1vmin theme('colors.pink-pastel.light'), 1vmin 1vmin ptheme('colors.pink-pastel.light'),
    0.65vmin 1vmin theme('colors.pink-pastel.light'), 1vmin 0.65vmin theme('colors.pink-pastel.light');
}

.box-white {
  background: theme('colors.white');
  border: theme('colors.white');
  box-shadow: 0.6vmin 0.6vmin theme('colors.white'), 1vmin 1vmin theme('colors.blue-nepal'), 1vmin 1vmin theme('colors.blue-pattens'),
    0.65vmin 1vmin theme('colors.blue-pattens'), 1vmin 0.65vmin theme('colors.blue-pattens');
}
